.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
/frontend/local.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Api
*.sqlite

# Frontend
/frontend/test/unit/coverage
/frontend/test/e2e/reports
